<div class="modal absolute w-32 bg-white  shadow-2xl z-10   ">
	<div class="flex flex-row justify-between cursor-move p-2 bg-red-500 text-white items-center " (mousedown)="startDragging($event)"
		(mousemove)="onDrag($event)" (mouseup)="stopDragging()">
		<div>Ajuste</div>
		<mat-icon class="material-icons-round text-white cursor-pointer" (click)="_portalService.modalMove=!_portalService.modalMove">
			close
		</mat-icon>
	</div>
	<div class="p-2">
		<!-- Contenido del modal -->ff
	</div>
</div>