<div class="transition-opacity duration-300 h-full bg-white">
	<div class="flex flex-row flex-nowrap h-full">
		<!-- *Menu Principal -->
		<div class="min-w-[80px] bg-white flex flex-col items-center gap-2 py-2 shadow-xl z-10 cursor-pointer">
			<div (click)="toogleMenu()" class="w-14 h-14 cursor-pointer">
				<img src="/assets/img/logo.jpg" alt="">
			</div>
			<div (click)="closetMenu('capas'); subMenu ='capas' "
				class="w-14 h-14 relative rounded-full border border-solid border-[#e0e0e0] flex justify-center items-center cursor-pointer"
				[ngClass]="{'active-left-panel': subMenu == 'capas'}" id="left-panel">
				<mat-icon class="material-icons-round text-gray-400 flex items-center justify-center"
					[ngClass]="{'text-red-500': subMenu == 'capas'}">
					layers
				</mat-icon>
			</div>
			<div (click)="closetMenu('proyectos');subMenu ='proyectos' "
				class="w-14 h-14 relative rounded-full border border-solid border-[#e0e0e0] flex justify-center items-center cursor-pointer"
				[ngClass]="{'active-left-panel': subMenu == 'proyectos'}" id="left-panel">
				<mat-icon class="material-icons-round text-gray-400 flex items-center justify-center"
					[ngClass]="{'text-red-500': subMenu == 'proyectos'}">
					grid_view
				</mat-icon>
			</div>
			<div></div>
		</div>
		<!-- *Menu Secundario -->
		<!-- #capas -->
		<div *ngIf="subMenu =='capas'"
			class="w-full bg-white transition-all duration-500 shadow-xl z-[5] overflow-y-auto flex flex-col items-center  "
			[style.opacity]="_portalService.menu ? '1' : '0'" [style.display]="_portalService.menu ? 'block' : 'none'">
			<div class="bg-red-500 w-full h-9 flex flex-row justify-between items-center p-2">
				<div class="p-2 text-white">Capas Disponibles</div>
				<mat-icon class="material-icons-round text-white cursor-pointer" (click)="toogleMenu()">
					close
				</mat-icon>
			</div>
			<div *ngFor="let capas of _portalService.Layers.Temas; let capaIndex = index"
				class=" flex flex-col justify-center items-center w-full">
				<div
					class="flex flex-row h-14 w-full bg-white items-center justify-between p-2 cursor-pointer border-0 border-solid border-gray-400/20 border-b"
					(click)="capas.isOpen = !capas.isOpen">
					<div>{{capas.nombre}}</div>
					<div>
						<mat-icon class="material-icons-round">
							{{capas.isOpen ? 'expand_more':'expand_less' }}
						</mat-icon>
					</div>
				</div>
				<ng-container *ngIf="capas.isOpen">
					<div class="w-full" *ngFor="let Grupos of capas.Grupos; let GruposIndex = index">
						<div
							class="flex flex-row   px-2 bg-blue-500/5 items-center justify-between text-sm cursor-pointer border-0 border-solid border-gray-400/20 border-b"
							(click)="Grupos.isOpen = !Grupos.isOpen">
							<div>{{Grupos.nombre}}</div>
							<div>
								<mat-icon class="material-icons-round text-md flex items-center justify-center">
									{{Grupos.isOpen ? 'visibility':'visibility_off' }}
								</mat-icon>
							</div>
						</div>
						<ng-container *ngIf="Grupos.isOpen">
							<div *ngFor="let Layers of Grupos.Layers  let LayersIndex = index">
								<div class=" px-2 py-1 hover:bg-blue-500/25  flex flex-row justify-between">
									<div class="flex flex-row">
										<mat-icon class="material-icons-round text-base flex items-center justify-center   ">
											layers
										</mat-icon>
										{{Layers.nombre}}
									</div>
									<div class="flex flex-row">
										<mat-slide-toggle class="example-margin" [color]="color" [checked]="Layers.activa" [disabled]="disabled"
											(click)="_portalService.addLayerExtra(capaIndex.toString(),GruposIndex.toString(),Layers.ide.toString(),Layers) ">
										</mat-slide-toggle>
										<mat-icon class="material-icons-round text-base flex items-center justify-center cursor-pointer hover:text-red-500  ">
											settings
										</mat-icon>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</ng-container>
			</div>
		</div>
		<!-- #proyectos -->
		<div *ngIf="subMenu =='proyectos'"
			class="w-full bg-white transition-all duration-500 shadow-xl z-[5] overflow-y-auto flex flex-col items-center gap-2 "
			[style.opacity]="_portalService.menu ? '1' : '0'" [style.display]="_portalService.menu ? 'block' : 'none'">
			<div class="bg-red-500 w-full h-9 flex flex-row justify-between items-center p-2">
				<div class="p-2 text-white">Proyecto</div>
				<mat-icon class="material-icons-round text-white cursor-pointer" (click)="toogleMenu()">
					close
				</mat-icon>
			</div>
			<div *ngFor="let proyecto of _proyectosService.proyectos" class=" flex justify-center items-center "
				(click)="_portalService.Activo(proyecto.idDist)">
				<img class="object-contain w-auto h-32" src="/assets/logos/{{proyecto.img}}" alt="" loading="lazy">
			</div>
		</div>
	</div>
</div>