<div class="fab-container">
  <div class="fab shadow">
    <div class="fab-content animate-spin">
      <span>1</span>
    </div>
  </div>
  <div class="sub-button shadow">
    <span>2</span>
  </div>
  <div class="sub-button shadow">
    <span>3</span>
  </div>
  <div class="sub-button shadow">
    <span>4</span>
  </div>
  <div class="sub-button shadow">
    <span>5</span>
  </div>
  <div class="sub-button shadow">
    <span>6</span>
  </div>
  <div class="sub-button shadow">
    <span>7</span>
  </div>
  <div class="sub-button shadow">
    <span>8</span>
  </div>

</div>